.section7 {
    width: 100%;
    height: 160vh;
    /* border: 1px solid red; */
}

.sec7_title {
    width: 100%;
    height: 20%;
    /* border: 1px solid red; */
    display: flex;
}

.sec7_title_left {
    width: 50%;
    height: 100%;
    border: inherit;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    padding-right: 150px;
}

.sec7_title_left h2 {
    background-image: linear-gradient(0deg, rgb(97, 100, 107) 0%, rgb(255, 255, 255) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 35px;
    position: relative;
}

.sec7_title_left span {
    color: #F3B01A;
    position: relative;
    right: 100px;
}

.sec7_title_right {
    width: 50%;
    height: 100%;
    border: inherit;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-left: 150px;
}

.sec7_title_right h4 {
    color: #95979E;
    font-weight: 500;
}

.sec7_img {
    width: 100%;
    height: 45%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec7_img img {
    width: 83%;
    height: 490px;
    border-radius: 22px;
}

.sec7_info {
    width: 100%;
    height: 35%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 30px;
}

.sec7_info span {
    color: #95979E;
    line-height: 170%;
    font-size: 20px;
}